attendance/__pycache__/__init__.cpython-313.pyc
attendance/__pycache__/admin.cpython-313.pyc
attendance/__pycache__/apps.cpython-313.pyc
attendance/__pycache__/models.cpython-313.pyc
attendance/__pycache__/urls.cpython-313.pyc
attendance/__pycache__/views.cpython-313.pyc
attendance/migrations/__pycache__/__init__.cpython-313.pyc
attendance/migrations/__pycache__/0001_initial.cpython-313.pyc
attendance/migrations/__pycache__/0002_course.cpython-313.pyc
attendance/migrations/__pycache__/0003_alter_customuser_managers_remove_customuser_username_and_more.cpython-313.pyc
attendance/migrations/__pycache__/0004_coursestudent.cpython-313.pyc
attendance/migrations/__pycache__/0005_customuser_student_id.cpython-313.pyc
attendance/migrations/__pycache__/0006_customuser_must_change_password.cpython-313.pyc
attendance/migrations/__pycache__/0007_attendance.cpython-313.pyc
attendance/migrations/__pycache__/0008_academicyear_semester_subject_alter_course_options_and_more.cpython-313.pyc
attendance/migrations/__pycache__/0009_fix_academic_year_foreign_key.cpython-313.pyc
attendance/__pycache__/__init__.cpython-313.pyc
attendance/__pycache__/admin.cpython-313.pyc
attendance/__pycache__/apps.cpython-313.pyc
attendance/__pycache__/models.cpython-313.pyc
attendance/__pycache__/urls.cpython-313.pyc
attendance/__pycache__/views.cpython-313.pyc
attendance/migrations/__pycache__/__init__.cpython-313.pyc
attendance/migrations/__pycache__/0001_initial.cpython-313.pyc
attendance/migrations/__pycache__/0002_course.cpython-313.pyc
attendance/migrations/__pycache__/0003_alter_customuser_managers_remove_customuser_username_and_more.cpython-313.pyc
attendance/migrations/__pycache__/0004_coursestudent.cpython-313.pyc
attendance/migrations/__pycache__/0005_customuser_student_id.cpython-313.pyc
attendance/migrations/__pycache__/0006_customuser_must_change_password.cpython-313.pyc
attendance/migrations/__pycache__/0007_attendance.cpython-313.pyc
i_track/__pycache__/__init__.cpython-313.pyc
i_track/__pycache__/settings.cpython-313.pyc
i_track/__pycache__/urls.cpython-313.pyc
i_track/__pycache__/wsgi.cpython-313.pyc
i_track/__pycache__/settings.cpython-311.pyc
